<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professor</title>
    <link rel="stylesheet" href="static/cadastroprofessor.css">
</head>
<body>
    <div class="container">
        <img src="static/logo.png" alt="Logo Avança+" class="logo">
        <h1>Avança+</h1>

        <form class="formulario" method="post">
            {% csrf_token %}
            <select name="tipo" id="tipo">
                <option value="professor">Professor</option>
            </select>

            <input type="text" name="nome" placeholder="Nome completo" required>
            <input type="email" name="email" placeholder="E-mail institucional" required>
            <input type="text" name="matricula" placeholder="Matrícula" required>

            <button type="submit" class="btn-registrar">Registrar</button>
        </form>

        <p class="aviso">Será necessário validar seu e-mail institucional</p>
    </div>
</body>
</html>

