{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Avança+</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'logo.png' %}" alt="Logo Avança+" class="logo">
        <h1>Avança+</h1>
        <p class="descricao">Conectando alunos, famílias e escolas para combater a evasão escolar.</p>
        <div class="botoes">
            <a href="{% url 'login' %}" class="btn entrar">Entrar</a>
            <a href="{% url 'cadastroaluno' %}" class="btn cadastrar">Cadastrar-se</a>
        </div>
    </div>
</body>
</html>
